* {
    margin: 0;
    padding: 0;

}
html {
   scroll-behavior: smooth;
   height: 100%;
}
body {
    background-color: #1F242B;
    overflow-x: hidden;
    height: 100%;
}
.container1 {
    position: absolute;
    right: 0;
    display: inline-block;
    height: 585px;
    width: 659.8px;
    background-color: #2AD882;
}
.partition1 {
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 586px;
}
.text1 {
    color: white;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 108px;
    left: 108px;
}   
.text2 {
    color: #2AD882;
    position: absolute;
    left: 242.1px;
    top: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading1 {
    color: white;
    position: absolute;
    top: 230px;
    left: 242.1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 70px;
}
.container2 {
    background-color: transparent;
    border: 2px solid #2AD882;
    width: 400px;
    height: 70px;
    position: absolute;
    top: 400px;
    left: 242.1px;
}
.text3 {
    color: white;
    position: relative;
    top: 33%;
    left: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.box1 {
    position: relative;
    background-color: transparent;
    width: 70px;
    height: 70px;
    right: -330px;
    top: -23px;
   
    color: #2AD882;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
}

  

a {
    text-decoration: none;
    /* color: transparent; */
    /* background-color: black; */
}
.text4 {
    color: #1F242B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    right: 200px;
    top: 111.8px;
}
.image1 {
    position: absolute;
    right: 258px;
    width: 800px;
    height: 500px;
    z-index: 1;
    bottom:0 ;
}
.icon1 {
    position: absolute;
    right: 175px;
    top: 118.8px;
    transform: scale(1.5,1.5);
    color: black;
}
.icon2 {
    right: 140px;
    color: black;
}
.icon3 {
    right: 105px;
    transform: scale(1.3,1.3);
    color: black;
}
#about {
    width: 1920px;
    height: 360px;
    position: absolute;
    top: 1072.3px;
    background-color:#1F242B;
}
/* ABOUT SECTION ELEMENTS */
.text5 {
    position: relative;
    top: -358px;
}
.container3 {
    width: 383.3px;
    height: 432.4px;
    position: relative;
    left: 242.1px;
    top: -289.9px;
    background-color: #2AD882;
    display: inline-block;
    z-index: 1;
}
.container4 {
    background-color: #BACBD9;
    left: -70.1px;
    width: 383.3px;
    height: 432.4px;
    position: relative;
    bottom: 360px;
    display: inline-block;
    z-index: 2;
}
.image2 {
    position: relative;
    bottom: 413px;
    left: -743px;
    z-index: 3;
    transform: scale(1.2);
}
.heading2 {
    position: relative;
    left: 850px;
    top: -750px;
}
.line1 {
    background-color: #2AD882;
    width: 314px;
    height: 4px;
    position: relative;
    left: 1240px;
    z-index: 100;
    top: -786px;
}
.article1 {
    position: relative;
    left: 700px;
    top: -700px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container5 {
    width: 232.5px;
    height: 74.6px;
    background-color: #2AD882;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 140px;
}
.text6 {
    color: #1F242B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.container6 {
    background-color: transparent;
    left: 400px;
    top: 124px;
    width: 225.5px;
    height: 67.6px;
    border: 3px solid #2AD882;
}
.text7 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.partition2 {
    top: 370px;
    position: absolute;
}
#projects {
    width: 1920px;
    height: 900px;
    position: absolute;
    top: 1450px;
    background-color: #1F242B;
}
.text8 {
    position: relative;
}
.heading3 {
    position: relative;
    left: 170px;
}
.line2 {
    position: relative;
    top: 200px;
    width: 900px;
    left:800px;
}
.container7 {
    position: relative;
    left: 170px;
    right: 170px;
    width: 63%;
    top: 300px;
    height: 334.2px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.project {
    border: 5px solid white;
}
.text9 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    position: relative;
    top: 320px;
    left: 170px;
    font-size: 20px;
}
.text10 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    position: relative;
    top: 295px;
    left: 600px;
    font-size: 20px;
}
.text11 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    position: relative;
    top: 275px;
    left: 1037px;
    font-size: 20px;
}
.text12{
    color: #2AD882;
    position: relative;
    top: 280px;
    left: 170px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text13 {
    color: #2AD882;
    position: relative;
    top: 260px;
    left: 600px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text14 {
    color: #2AD882;
    position: relative;
    top: 240px;
    left: 1037px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image3 {
    transition:ease 0.5s ;
   
}
.image4 {
    transition:ease 0.5s ;

}
.image5 {
    transition:ease 0.5s ;
   
}
.image3:hover {
    transform: scale(1.2,1.2);
    z-index: 100;
}
.image4:hover {
    transform: scale(1.2,1.2);
    z-index: 100;
}
.image5:hover {
    transform: scale(1.2,1.2);
    z-index: 100;
}
.partition3 {
    top: 2400px;
    z-index: 4;
}
#skills {
    width: 100%;
    height: 900px;
    background-color: #1F242B;
    position: absolute;
    top: 2400px;
}
.text15 {
    position: relative;
}
.heading4 {
    position: relative;
}
.line3 {
    position:relative;
    left: 0px;
    top: 195px;
    width: 200px;
}
.container8 {
    width: 350px;
    height: 400px;
    background-color: #2AD882;
    top: 200px;
    right: -1000px;
    position: relative;
}
.image6 {
    position: relative;
    top:-330px;
    transform: scale(1.2,1.2);
    right: -400px;
}
.article2{
    position: relative;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -650px;
    left: 250px;
    font-size: 20px;
}
.container9 {
    width: 402px;
    height: 34.5px;
    background-color: #494f56;
    top: -500px;
    position: relative;
    left: 250px;
}
.box2 {
    position: relative;
    top: 0px;
    left:0px;
    background-color: #2AD882;
    height: 100%;
    width: 90%;
    z-index: 20;
    animation: 2s linear 0s animate1;
}
@keyframes animate1 {
    0% {width: 0;}
    100% {width: 90%;}
}
@keyframes animate2 {
    0% {width: 0;}
    100% {width: 95%;}
}
.container10 {
    width: 402px;
    height: 34.5px;
    background-color: #494f56;
    top: -400px;
    position: relative;
    left: 250px;
}
.box3 {
    position: relative;
    top: 0px;
    left:0px;
    background-color: #2AD882;
    height: 100%;
    width: 95%;
    z-index: 20;
    animation: 2s linear 0s animate2;
}
.text16 {
    position: relative;
    right: -410px;
    color: white;
    font-size: 50px;
    top: -46px;
    z-index: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text18 {
    position: relative;
    right: 0px;
    color: white;
    font-size: 30px;
    top: -156px;
    font-weight: 600;
    z-index: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contact{
    width: 1920px;
    height: 750px;
    position: absolute;
    top: 3505px;
    background-color:#1F242B;
}
.partition4 {
    position: absolute;
    z-index: 10;
    top: 3500px;
}
.text19 {
    position: relative;
}
.heading5 {
    left: 700px;
    position: relative;
    width: 100px;
}
.line4 {
    position: relative;
    top: 180px;
    width: 600px;
    left:1040px
}
.cont-container1 {
    color: #2AD882;
    display: flex;
    flex-direction:column;
    height: 100px;
    width: 100px;
    position: relative;
    left: 700px;
    top: 300px;
    justify-content: space-between;
}
.cont-container1>p {
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.cont-container2 {
    left: 800px;
    top: 200px;
}
.cont-container3 {
    width: 367.8px;
    height: 365.5px;
    left: 72.9px;
    top: -116.9px;
    position: relative;
    background-color: #2AD882;
    visibility: hidden;
}
.cont-image {
    position: relative;
    top: -650px;
    left: -220px;
}
.partition5{
    top: 4250px;
}
#thanks{
    background-color: #1F242B;
    position: absolute;
    top: 4255px;
    width: 100%;
    height: 800px;
}
.th-cont {
    background-color: #2AD882;
    height: 100%;
    width: 450.3px;
    display: inline-block;
}
.th-text {
    color: #1F242B;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 3;
    top: -700px;
    left: 108px;
}
.th-heading {
    left: 800px;
}
.th-text1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2AD882;
    position: relative;
    top: -620px;
    left: 800px;

}
.th-line {
    top: -570px;
}
.article3 {
    color: white;
    position: relative;
    top: -500px;
    left: 800px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.th-button {
    background-color: hsl(150, 69%, 51%);
    color: #1F242B;
    width: 650px;
    height: 50px;
    position: relative;
    left: 800px;
    top: -450px;
    border: none;
}
button>p {
    font-size: 30px;
    font-weight: 500;
}
.partition6{
    top: 800px;
}
.copyright {
    color: white;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    bottom: 0;
    font-family: monospace;
    left: 40%;
}
.foot {
    position: relative;
    height: 20px;
    bottom: 100px;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
}
.foot-text {
    color: white;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.foot-text:hover {
    color: #2AD882;
}
.med1 {
    width: 1px;
    height: 1px;
}
/* For Phones */
@media only screen and (max-width: 767px) {
}
  
  
  /* For Tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  }
  


